@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Junction";
  src: url("font/junction-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Junction";
  src: url("font/junction-light.otf") format("opentype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Junction";
  src: url("font/junction-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.disabled {
  pointer-events: none;
  user-select: none !important;
  opacity: 20%;
}
