@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Junction";
  src: url("font/junction-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Junction";
  src: url("font/junction-light.otf") format("opentype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Junction";
  src: url("font/junction-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.disabled {
  pointer-events: none;
  user-select: none !important;
  opacity: 20%;
}

.backToTop {
  position: fixed;
  bottom: -10px;
  right: 30px;
  width: 65px;
  height: 65px;
  background-color: #ff00;
  border: none;
  border-radius: 50%;
  transform: scale(1);
  overflow: hidden;
  transition: 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
}

.backToTop.active {
  opacity: 1;
  bottom: 30px;
}

.backToTop::after {
  width: 85%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}

.backToTopImgWrap {
  position: relative;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  z-index: 10;
  overflow: hidden;
}

.backToTop img {
  width: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 0.15s;
}

.backToTop img:first-child {
  transform: translate(-50%, -50%);
}

.backToTop img:last-child {
  transform: translate(-50%, 170%);
}

.backToTop:hover::after {
  width: 100%;
  height: 100%;
  background-color: #3857f1;
}

.backToTop:hover img:first-child {
  transform: translate(-50%, -250%);
}

.backToTop:hover img:last-child {
  transform: translate(-50%, -50%);
}
