@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Junction';
    src: url('font/junction-bold.eot');
    src: url('font/junction-bold.woff') format('woff'),
        url('font/junction-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Junction';
    src: url('font/junction-light.eot');
    src: url('font/junction-light.woff') format('woff'),
        url('font/junction-light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Junction';
    src: url('font/junction-regular.eot');
    src: url('font/junction-regular.woff') format('woff'),
        url('font/junction-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}