---

import Page from '../components/Page.astro'
import SiteHeader from '../components/SiteHeader.astro'

const title = 'About'
const description = 'About Tiny Rocket'

---

<Page {title} {description}>

    <SiteHeader />

    <div class='flex justify-center'>
        <div class='text-lg w-5/6 lg:w-3/4'>
            <p class='my-6 font-semibold'>
                {description}
            </p>
            <p class='my-6'>
                The Tiny Rocket theme / template is a modification of the default blog template that came with "npm create astro@latest" (as of May 2022). I removed Google Font, replaced all styling with Tailwind CSS, added <a class='underline underline-offset-2 decoration-dashed' target='_blank' href='https://docs.astro.build/en/core-concepts/routing/#pagination'>pagination</a>, and reorganised the routing. I designed Tiny Rocket for a company website with a blog, but you can tweak it and use it as a personal blog just fine.
            </p>
            <p class='my-6'>
                It is minimally styled as it is just meant as a starter. To customise it for your use case, you may want to make a few changes.
            </p>
            <div class='ml-8 text-lg text-zinc-900 prose'>
                <p>Language is set in Page component</p>
                <p>Copyright is set in Footer component</p>
                <p>Pagination is set in /src/pages/blog/[...page].astro in "pageSize" variable</p>
                <p>Contents (website pages and blog posts) are in /src/pages/ directory</p>
                <p>Styling uses Tailwind CSS and you can switch it to your preferred tool</p>
                <p>Header for the website is different from the blog; if you want them to be identical, then you can replace all calls to BlogHeader component with SiteHeader component</p>
                <p>Hostname is set in /astro.config.mjs in "site" variable; this is used by the sitemap generator, but note that the sitemap.xml is not visible in development mode - it is generated during "astro build" (<a class='underline underline-offset-2 decoration-dashed font-light' target='_blank' href='https://github.com/withastro/astro/tree/main/packages/integrations/sitemap'>see documentation</a>)</p>
                <p>Append /public/robots.txt with the generated sitemap.xml's absolute URL (e.g. Sitemap: https://example.com/sitemap.xml)</p>
                <p>Check <a class='underline underline-offset-2 decoration-dashed font-light' target='_blank' href='https://docs.astro.build/en/guides/deploy/'>Astro deployment guide</a> for your preferred hosting provider and follow accordingly or else the deployment may fail</p>
            </div>
            <p class='my-6'>
                Thank you <a class='underline underline-offset-2 decoration-dashed' target='_blank' href='https://developers.cloudflare.com/pages/framework-guides/astro/'>Cloudflare Pages</a> for hosting this Tiny Rocket example site, <a class='underline underline-offset-2 decoration-dashed' target='_blank' href='https://unsplash.com/@kolamdigital'>Andy Hermawan</a> for the Unsplash images, <a class='underline underline-offset-2 decoration-dashed' target='_blank' href='https://loremipsum.io'>LoremIpsum.io</a>, and the open source communities of Astro and Tailwind.
            </p>
            <p class='my-6'>
                I hope Tiny Rocket is useful to the Astro community. Happy hacking!<br />
                ~ <a class='underline underline-offset-2 decoration-dashed font-extralight' target='_blank' href='https://github.com/slamethendry/tinyrocket'>Slamet</a>
            </p>
        </div>
    </div>
</Page>
