---
export interface Props {
    title: string
    publishDate: string
    heroImage: string
    alt: string
}

const { title, publishDate, heroImage, alt } = Astro.props
---

{heroImage && <div>
    <img class="w-full" loading="lazy" src={heroImage} alt={alt} />
</div>}

<div class='flex justify-center font-sans text-zinc-700'>
    <div class='text-lg w-5/6 lg:w-3/4 prose'>
        <h1 class="text-2xl font-semibold mt-8">{title}</h1>
        <p class="font-extralight mb-8">{publishDate}</p>
        <slot />
    </div>
</div>