<footer class="text-center pb-3 pt-16 relative bottom-2 inset-x-0">
    <div class="grid grid-cols-3 gap-4">
        <div class='text-right'>
            <a class="underline underline-offset-2 decoration-dashed" href="/">
                Home
            </a>
        </div>
        <div class='text-center text-sm'>
            © Copyright Placeholder
        </div>
        <div class='text-left'>
            <a class="underline underline-offset-2 decoration-dashed" href="/privacy">
                Data Privacy
            </a>
        </div>
    </div>
</footer>