<footer class="flex justify-center px-8 pb-3 pt-16 relative bottom-2 inset-x-0">
    <div class="grid grid-cols-3 gap-4">
        <div class="text-left">
            <a class="underline underline-offset-2" href="/"> Home</a>
        </div>
        <div class="text-center text-sm">Copyright {new Date().getFullYear()}</div>
        <div class="text-right">
            <a class="underline underline-offset-2" href="/privacy">
                Data Privacy
            </a>
        </div>
    </div>
</footer>

    <div class="fixed bottom-8 right-8 hidden flex-col gap-3 md:hidden" id="ScrollToTop">
    <button aria-label="Scroll To Top" id="scrollToTopButton"
            class="rounded-full bg-gray-200 p-2 text-gray-500 transition-all hover:bg-gray-300 dark:bg-gray-700 dark:text-gray-400 dark:hover:bg-gray-600"
    >
        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path
                    fillRule="evenodd"
                    d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z"
                    clipRule="evenodd"
            />
        </svg>
    </button>
</div>

<!-- back 2 top -->

<script client:visible>
    // Prevents the script from being executed multiple times
    // This is due to Astro's ViewTransition feature
    globalThis.isInitialized = false;

    if (!globalThis.isInitialized) {
        const scrollToTopButton = document.getElementById('scrollToTopButton');
        const ScrollToTop = document.getElementById('ScrollToTop');


        scrollToTopButton.addEventListener('click', () => {
            window.scrollTo({top: 0, behavior: 'smooth'})
        });

        window.addEventListener('scroll', () => {
            ScrollToTop.classList.toggle('md:hidden', window.scrollY < 550)
            ScrollToTop.classList.toggle('md:flex', window.scrollY >= 550)
        })

        // const handleScrollToComment = () => {
        //     const comment = document.getElementById('comment')
        //     if (comment) {
        //         comment.scrollIntoView({
        //             behavior: 'smooth',
        //         })
        //     }
        // }
        globalThis.isInitialized = true;
    }
</script>
