<footer class="flex justify-center px-8 pb-3 pt-16 relative bottom-2 inset-x-0">
    <div class="grid grid-cols-3 gap-4">
        <div class="text-left">
            <a class="underline underline-offset-2" href="/"> Home</a>
        </div>
        <div class="text-center text-sm">Copyright Placeholder</div>
        <div class="text-right">
            <a class="underline underline-offset-2" href="/privacy">
                Data Privacy
            </a>
        </div>
    </div>
</footer>
