---
const { page } = Astro.props;
---

<nav class="flex justify-center" aria-label="Pagination">
    <div class="grid grid-cols-3 w-5/6 lg:w-3/4">
        <div class="text-left">
            {
                page.url.prev && (
                    <a
                        class="font-light underline underline-offset-2"
                        href={page.url.prev || "#"}
                    >
                        &larr; Newer
                    </a>
                )
            }
        </div>
        <div class="text-center font-extralight">
            Page {page.currentPage} / {page.lastPage}
        </div>
        <div class="text-right">
            {
                page.url.next && (
                    <a
                        class="font-light underline underline-offset-2"
                        href={page.url.next || "#"}
                    >
                        Older &rarr;
                    </a>
                )
            }
        </div>
    </div>
</nav>
