<header class="text-zinc-700 text-lg">
    <a href="/">
        <div class="flex justify-center my-10">
            <img
                class="h-28 rounded-md shadow-md shadow-zinc-500"
                src="/assets/logo.webp"
                alt="Tiny Rocket"
            />
        </div>
        <p class="text-center text-3xl mt-6 mb-3 font-extrabold font-mono">
            Tiny Rocket
        </p>
    </a>
    <nav class="flex justify-center mt-6 mb-12">
        <a class="mx-1 underline underline-offset-2" href="/"> Home</a>
        <a class="mx-1 underline underline-offset-2" href="/map"> Map</a>
        <a class="mx-1 underline underline-offset-2" href="/blog"> Blog</a>
        <a class="mx-1 underline underline-offset-2" href="/doc"> Doc</a>
        <a class="mx-1 underline underline-offset-2" href="/rss.xml"> RSS</a>
        <a class="mx-1 underline underline-offset-2" href="/search"> Search</a>
    </nav>
</header>
