---
import type { CollectionEntry } from "astro:content";
import BackToTop from "../components/BackToTop.astro";
import BlogHeader from "../components/BlogHeader.astro";
import Page from "../components/Page.astro";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, ogImage, pubDateTime } = post.data;
const { Content } = await post.render();
---

<Page {title} {description}>
  <BackToTop />
  <BlogHeader title={title} />

  <div class="flex justify-center text-zinc-700">
    <div class="text-lg w-5/6 lg:w-3/4 prose">
      <h1 class="text-2xl font-semibold mt-8">{title}</h1>
      <Content />
    </div>
  </div>
</Page>
