---
import Page from "../components/Page.astro";
import SiteHeader from "../components/SiteHeader.astro";

const { content } = Astro.props;
const { title, description, version } = content;
const displayVersion = version ? "Version " + version : "";
---

<Page {title} {description}>
    <SiteHeader />
    <div class="flex justify-center text-zinc-700">
        <div class="text-lg w-5/6 lg:w-3/4 prose">
            <h1 class="text-2xl font-semibold mt-8">{title}</h1>
            <slot />
            <p class="text-sm mt-16">
                {displayVersion}
            </p>
        </div>
    </div>
</Page>
